* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_3 {
  width: 440px;
  height: 956px;
  background: rgba(204,244,205,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_33 {
  width: 408px;
  height: 253px;
  background: url("../images/v1_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 16px;
  overflow: hidden;
}
.v1_6 {
  width: 358px;
  height: 154px;
  background: url("../images/v1_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v1_9 {
  width: 408px;
  height: 79px;
  background: url("../images/v1_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 0px;
  overflow: hidden;
}
.v1_5 {
  width: 404px;
  height: 79px;
  background: rgba(0,35,73,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1_8 {
  width: 408px;
  color: rgba(204,244,205,1);
  position: absolute;
  top: 25px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
